.App {
  text-align: center;
}

.App-header {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.app-main {
  text-align: center;
  font-family: "Luxurious Roman", cursive;
}

h3 {
  text-transform: capitalize;
}

.quiz-main {
  padding: 20px;
}

.question-type {
  text-transform: capitalize;
  font-size: 17px;
}

.table-cell {
  text-transform: capitalize;
}

.no-data {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .options-grid:hover {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
